h1{
    text-align: center;
    margin-top: 10vw;
}

.gerichtet {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 130px;
}

.gerichtetimg{
    margin-top: 5%;
    padding-bottom: 5%; 
    align-self: center;
}

.gerichtettext{
    padding: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}


