h1{
    text-align: center;
    margin-top: 10vw;
}

.presse {
    margin-left: 10vw;
    margin-right: 10vw;
}

.artikel {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.artikeldetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin: 1vw;
}

.presslink{
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 58px;
  border: 1px solid #000;
  background: #DAA71A;
  color: #000;
  text-decoration: none;
  font-weight: 300;
  transition: background 0.3s ease, color 0.2s ease;
  padding-left: 2vw;
  padding-right: 2vw;
}

.presslink:hover {
  background: #c28e10;
  background-color: #00DEF6;
  color: white;
  border: 1px solid white;
}
